<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>BootPIERE 1 | User</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <div th:replace="fragments/header :: header"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1 th:text="${statusPage}">
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">Error Page</a></li>
                <li class="active" th:text="${statusCode}"></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="error-page">
                <h2 class="headline text-red" th:text="${statusCode}"></h2>

                <div class="error-content">
                    <h3><i class="fa fa-warning text-red"></i> Oops! Page Error.</h3>

                    <p>
                        We could not find the page you were looking for.
                        Meanwhile, you may
                        <a th:href="@{/home}">return to dashboard</a>
                        or try using the search form.
                    </p>

                </div>
                <!-- /.error-content -->
            </div>
            <!-- /.error-page -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <div th:replace="fragments/copyright :: copyright"/>

</div>
<!-- ./wrapper -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
